
AddressBook/node_modules/

AddressBook/AddressBook.Api.Tests/bin/

AddressBook/AddressBook.Api.Tests/obj/

AddressBook/AddressBook.Api/bin/

AddressBook/AddressBook.Api/obj/

AddressBook/AddressBook.Mobile/AddressBook.Mobile/bin/

AddressBook/AddressBook.Mobile/AddressBook.Mobile/obj/

AddressBook/AddressBook.Mobile/AddressBook.Mobile.Android/bin/

AddressBook/AddressBook.Mobile/AddressBook.Mobile.Android/obj/

AddressBook/AddressBook.Mobile/AddressBook.Mobile.iOS/obj/

AddressBook/AddressBook.Web/Client/bin/

AddressBook/AddressBook.Web/Client/obj/

AddressBook/AddressBook.Web/Server/bin/

AddressBook/AddressBook.Web/Server/obj/

AddressBook/AddressBook.Web/Shared/bin/

AddressBook/AddressBook.Web/Shared/obj/
